@model JobViewModel

@section Styles{
    <link href="~/Scripts/Materilize/plugins/data-tables/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" media="screen,projection">
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Jobs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="data-table-simple" class="responsive-table display" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.FirstOrDefault().name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.FirstOrDefault().description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.FirstOrDefault().salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.FirstOrDefault().status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Jobs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.statusString)
                </td>
                <td>
                    <a href="@Url.Action("Details", "Jobs", new {id = item.id})" class="waves-effect waves-cyan tooltipped" data-position="bottom" data-tooltip="Details" data-delay="10">
                        <i class='mdi-action-search'></i>
                    </a>
                    <a href="@Url.Action("Edit", "Jobs", new {id = item.id})" class="waves-effect waves-cyan tooltipped" data-position="bottom" data-tooltip="Edit" data-delay="10">
                        <i class='mdi-image-edit'></i>
                    </a>
                    <a href="@Url.Action("Delete", "Jobs", new {id = item.id})" class="waves-effect waves-cyan tooltipped" data-position="bottom" data-tooltip="Delete" data-delay="10">
                        <i class='mdi-action-delete'></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script type="text/javascript" src="~/Scripts/Materilize/plugins/data-tables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Materilize/plugins/data-tables/data-tables-script.js"></script>

}